# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model checkpoints (optional, agar bahut bade hain)
*.h5
*.keras

# Jupyter
.ipynb_checkpoints/